@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato&family=Tiro+Devanagari+Sanskrit&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.carding {
    transition: transform 100ms ease-in;
    &:hover{
        transform: scale(1.01);
    }
}
.tiro{
    font-family: 'Tiro Devanagari Marathi', serif;
}
.lato {
    font-family: 'Lato', sans-serif;
}
.heading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
select {
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
}